# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.vite/
*.tsbuildinfo

# Entorno
.env
.env.*
!.env.example

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Assets pesados generados
assets/**/*.png
